h1 {
  text-align: center; }

.list-item {
  align-items: center;
  cursor: pointer;
  display: flex !important;
  font-weight: bold; }
  .list-item input[type=checkbox], .list-item span {
    display: inline-block;
    margin: 0; }
  .list-item input[type=checkbox] {
    margin-right: 5px; }

.done {
  color: dimgray;
  text-decoration: line-through; }

.clear-button-container {
  text-align: right; }

.list-group {
  padding-right: 0 !important; }
